<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <title>Admin Panel</title>
</head>

<body>
    <div align="center">
        <h1>Users List</h1>
        <a href="/add">Create New User</a>
        <br/><br/>
        <table border="1" cellpadding="10">
            <thead>
                <tr>
                    <th> Id</th>
                    <th>Name</th>
                    <th>LastName</th>
                    <th>UserName</th>
                    <th>Password</th>
                    <th>Roles</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${listUsers}">
                    <td th:text="${user.id}">Id</td>
                    <td th:text="${user.name}">Name</td>
                    <td th:text="${user.lastName}">LastName</td>
                    <td th:text="${user.userName}">UserName</td>
                    <td th:text="${user.password}">Password</td>
                    <td th:text="${user.rolesForTable}">Roles</td>
                    <td>
                        <form action="#" th:action="@{/edit/} + ${{user.id}}" method="get">
                            <button th:id="'table_entry_childs_button_' + ${user.id}" type="submit">
                                <i>edit</i>
                            </button>
                        </form>
                    </td>
                    <td>
                        <form action="#" th:action="@{/remove/} + ${{user.id}}" method="get">
                            <button th:id="'table_entry_childs_button_' + ${user.id}" type="submit">
                                <i>delete</i>
                                <a href="/remove/{id}"></a>
                            </button>
                        </form>
                    </td>
                </tr>
            </tbody>
            <a href="javascript: document.logoutForm.submit()" role="menuitem"> Exit</a>

            <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                <input hidden type="submit" value="Sign Out"/>
            </form>
        </table>
    </div>
</body>
</html>