<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Admin Panel</title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <span th:text="${userInfo.userName}"></span>
        with roles:
        <span th:text="${userInfo.rolesForTable}"></span>
    </a>
    <a class="nav-link" href="/logout"><h5>Logout</h5></a>
</nav>
<div class="container-fluid d-flex flex-column">
    <div class="row">
        <div class="col-sm-2 mt-2 px-0">
            <nav class="d-none d-sm-block sidebar">
                <div class="bg-light text-dark">
                    <nav class="sidebar">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Admin</a>
                            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">User</a>
                        </div>
                    </nav>
                </div>
            </nav>
        </div>
        <div class="col-xl mt-auto px-0">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <div class="col-sm bg-light text-dark">
                        <h1 class="h1 ml-3 mb-3 mt-2 font-bold">Admin Panel</h1>
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">User table</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">New User</a>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                <div class="tab-content border rounded">
                                    <div class="tab-pane fade show active">
                                        <h5 class="p-2 pl-3 m-0 rounded">All users</h5>
                                        <table class="table table-striped" id="tableWithUsers">
                                            <thead>
                                            <tr>
                                                <th> ID</th>
                                                <th>Name</th>
                                                <th>LastName</th>
                                                <th>UserName</th>
                                                <th>Password</th>
                                                <th>Roles</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                    <div class="modal fade" id="someDefaultModal" tabindex="-1" role="dialog"
                                                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <form>
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <div class="form-group text-center font-weight-bold">
                                                                            <label>ID
                                                                                <input type="text"
                                                                                       class="form-control form-control-sm"
                                                                                       id="id1"
                                                                                       name="id"
                                                                                       readonly="readonly">
                                                                            </label>
                                                                            <br>
                                                                            <label>Name
                                                                                <input type="text"
                                                                                       class="form-control form-control-sm"
                                                                                       id="name1" name="name">
                                                                            </label>
                                                                            <br>
                                                                            <label>LastName
                                                                                <input type="text"
                                                                                       class="form-control form-control-sm"
                                                                                       id="lastName1" name="lastName">
                                                                            </label>
                                                                            <br>
                                                                            <label>UserName
                                                                                <input type="text"
                                                                                       class="form-control form-control-sm"
                                                                                       id="userName1" name="userName">
                                                                            </label>
                                                                            <br>
                                                                            <label>Password
                                                                                <input type="password"
                                                                                       class="form-control form-control-sm"
                                                                                       id="password1" name="password">
                                                                            </label>
                                                                            <br>
                                                                            <label>Role
                                                                                <select class="form-control form-control-sm" multiple name="roleNames" id="roles1" required size="2">
                                                                                    <option value="ROLE_USER" selected>USER</option>
                                                                                    <option value="ROLE_ADMIN" selected>ADMIN</option>
                                                                                </select>
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                            <button type="submit" id="editUser" class="btn btn-primary" data-dismiss='modal'>Edit</button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <td>
                                                    <div class="modal fade" id="someDefaultModal" tabindex="-1" role="dialog"
                                                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" >Delete user</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="form-group text-center font-weight-bold">
                                                                        <label>ID
                                                                            <input type="text"
                                                                                   class="form-control form-control-sm"
                                                                                   id="id2"
                                                                                   readonly="readonly">
                                                                        </label>
                                                                        <br>
                                                                        <label>Name
                                                                            <input type="text"
                                                                                   class="form-control form-control-sm"
                                                                                   id="name2" name="name"
                                                                                   readonly="readonly">
                                                                        </label>
                                                                        <br>
                                                                        <label>LastName
                                                                            <input type="text"
                                                                                   class="form-control form-control-sm"
                                                                                   id="lastName2" name="lastName"
                                                                                   readonly="readonly">
                                                                        </label>
                                                                        <br>
                                                                        <label>UserName
                                                                            <input type="text"
                                                                                   class="form-control form-control-sm"
                                                                                   id="userName2" name="userName"
                                                                                   readonly="readonly">
                                                                        </label>
                                                                        <br>
                                                                        <label>Password
                                                                            <input type="password"
                                                                                   class="form-control form-control-sm"
                                                                                   id="password2" name="password"
                                                                                   readonly="readonly">
                                                                        </label>
                                                                        <br>
                                                                        <label>Role
                                                                            <select class="form-control form-control-sm" multiple name="roleNames" id="roles2" required size="2">
                                                                                <option value="ROLE_USER" selected>USER</option>
                                                                                <option value="ROLE_ADMIN" selected>ADMIN</option>
                                                                            </select>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                        <button type="submit" class="btn btn-danger" id="deleteUser">Delete
                                                                        </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <div class="tab-content border rounded">
                                    <h5 class="p-2 pl-3 m-0 rounded">Add New User</h5>
                                    <div class="col-md-4 mx-auto col text-center">
                                        <div class="form-group text-center font-weight-bold">
                                            <form id="defaultSomeForm" data-hidden=true>
                                            <label>Name
                                                <input type="text"
                                                       class="form-control form-control-sm"
                                                       id="AddNewUserName"
                                                       name="name"
                                                       placeholder="Name">
                                            </label>
                                            <br>
                                            <label>LastName
                                                <input type="text"
                                                       class="form-control form-control-sm"
                                                       id="AddNewLastName"
                                                       name="lastName"
                                                       placeholder="LastName">
                                            </label>
                                            <br>
                                            <label>UserName
                                                <input type="text"
                                                       class="form-control form-control-sm"
                                                       id="AddNewUserUserName"
                                                       name="userName"
                                                       placeholder="UserName">
                                            </label>
                                            <br>
                                            <label>Password
                                                <input type="password"
                                                       class="form-control form-control-sm"
                                                       id="AddNewUserPassword"
                                                       name="password"
                                                       placeholder="Password">
                                            </label>
                                            <br>
                                            <label>Role
                                                <select class="form-control form-control-sm" multiple name="roleNames" id="AddNewUserRoles" required size="2">
                                                    <option value="ROLE_USER" selected>USER</option>
                                                    <option value="ROLE_ADMIN" selected>ADMIN</option>
                                                </select>
                                            </label>
                                                <br>
                                                <button class="btn btn-success" type="button" id="addNewUser">Add new user</button>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <div class="col-sm bg-light text-dark">
                        <h1 class="h1 ml-3 mb-3 mt-2 font-bold">User information-Page</h1>
                        <table class="table table-striped">
                            <div class="container-fluid">
                                <h5 class="p-2 pl-3 m-0 rounded">About user</h5>
                                <div class="row">
                                    <div class="col-md-12">
                                        <thead>
                                        <tr>
                                            <th> ID</th>
                                            <th>Name</th>
                                            <th>LastName</th>
                                            <th>UserName</th>
                                            <th>Password</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <td th:text="${userInfo.id}">Id</td>
                                        <td th:text="${userInfo.name}">Name</td>
                                        <td th:text="${userInfo.lastName}">LastName</td>
                                        <td th:text="${userInfo.userName}">UserName</td>
                                        <td th:text="${userInfo.password}">Password</td>
                                        </tbody>
                                    </div>
                                </div>
                            </div>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script crossorigin="anonymous"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        referrerpolicy="no-referrer" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src='/restAdmin.js'></script>
    </body>
</html>